<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- 
  
  Simplest example
  
    - Instantiates a Java object and makes it available through the
      application context.
      
  -->

  <bean id="greeter" 
        class="com.infinitemule.spring.container.helloworld.Greeter">
  </bean>


</beans>
