<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- 
  
  Depends On Example
  
    - Depends on will explicitly force one or more beans to 
      be initialized before the specified bean is initialized.  
      This is rarely used, the documentation for Spring suggests
      that this may be necessary when a static initializer needs
      to be triggered or if a database driver needs to be registered.
      
    - Depends on supports multiple beans separated by a comma
  -->

  <bean id="dependant" 
        class="com.infinitemule.spring.container.depinject.dependson.Dependant"
        depends-on="initMeFirst,initMeSecond">
    <property name="meFirst"  ref="initMeFirst"/>
    <property name="meSecond" ref="initMeSecond"/>
  </bean>


  <bean id="initMeFirst" 
        class="com.infinitemule.spring.container.depinject.dependson.InitMeFirst">
  </bean>
  
  <bean id="initMeSecond" 
        class="com.infinitemule.spring.container.depinject.dependson.InitMeSecond">
  </bean>
  

</beans>
